body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

.logo {
    max-width: 100px;
    padding: 5px;
}

main {
    padding: 150px 0;
}

aside {
    padding: 20px;
}

footer {
    background-color: #498efc;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.image {
    padding: 15px;
}

.paragraph {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: darkblue;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: darkblue;
}

#buttonpadding {
    padding: 5%;
}

#buttoncenter {
    text-align: center;
}

.centertext {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.mainheading {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.text {
    font-size: 20px;
    padding: 25px;
    margin: 25px;
}

.heading2 {
    padding: 5%;
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 5.5%;
    position: relative;
    margin: auto;
}

.grid2 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
    position: relative;
    margin: auto;
}

.heading {
    padding: 5%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

#map {
    position: relative;
    padding-bottom: 77.4%;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.nav-link {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

.nav-link:hover {
    color: darkblue;
}

li {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
}

ul {
    list-style: none;
}

.listprop {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
}

.box {
    padding: 3%;
    background-color: rgba(0, 0, 0, .8);
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

.contactaddress {
    color: black;
    text-decoration: none;
}

.contactaddress:hover {
    color: darkblue;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: transparent !important;
}

.background {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px #498efc;
}

.sidebarcontainer {
    width: auto;
    height: 100%;
    padding: 5px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
}

.sticky {
    position: fixed;
    top: 10;
    left: 10;
}

.uppercase-text {
    text-transform: uppercase;
}
